<div class="left-button">
  <%= link_to "ユーザー一覧に戻る", users_path %>
</div>
<h4 class="rooms-title">チャット</h4>
<% @user_rooms.each do |e| %>
  <%= link_to e.user.name, user_path(e.user.id) %>
<% end %>
<hr>
<div class="cahts">

  <div class="chat">
    <% if @chats.present? %>
      <% @chats.each do |c| %>
        <% if c.user.id == current_user.id %>
        <div class="row chat-box-me">
          <div class="chat-face">
            <%= c.user.name %>
          </div>
          <div class="chat-message">
            <%= c.chat %> <br />
            <%= c.created_at.strftime("%Y-%m-%d %H:%M") %>
          </div>
        </div>
        <% else %>
        <div class="row chat-box-opponent">
          <div class="chat-face">
            <%= c.user.name %>
          </div>
          <div class="chat-message">
            <%= c.chat %> <br />
            <%= c.created_at.strftime("%Y-%m-%d %H:%M") %>
          </div>
        </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="posts">
    <%= form_for @chat do |f| %>
      <%= f.text_field :chat, placeholder: "メッセージ...", class: "form-text-field" %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.submit "送信", class: "form-submit" %>
    <% end %>
  </div>

</div>
