<div class="container">
  <div class="left-button">
    <%= link_to "ユーザー一覧に戻る", users_path %>
  </div>
  <h4 class="rooms-title">チャット</h4>
  <% @user_rooms.each do |e| %>
  <%= link_to e.user.name, user_path(e.user.id) %> <br />
  <% end %>
  <hr>

    <div id="talk">
      <%= render 'rooms/talk', chats: @chats %>
    </div>

    <div class="posts">
      <%= form_with model: [@chat] do |f| %>
        <%= f.text_area :chat, rows:'3', placeholder: "メッセージ...", class: "form-text-field" %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.submit "送信", class: "form-submit" %>
      <% end %>
    </div>
</div>
